<md-dialog style="width:60%;height:80%;"  ng-cloak >
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Crear nuevo  {{origenDestinoTitulo}} </h2>
        <span flex></span>       
      </div>
    </md-toolbar>
    <md-dialog-content  >
    <md-content layout-padding >
            <div layout="row">
                <md-input-container class="md-block" flex-gt-sm>
                   <md-tooltip md-direction="bottom">
                              Nombre del punto de destino
                   </md-tooltip> 
                  <label>Nombre del punto de destino</label>
                  <input   ng-model="jsonDestinoOrigen.nombre" >
                </md-input-container>
            </div>
            <fieldset class="standard" >            
                  <legend>Datos de contacto del punto de entrega</legend>
              
              <div layout="row" >
                  <div layout="column" style="width: 50%;">                   
                         <md-input-container class="md-block" flex-gt-sm>
                         <md-icon md-svg-src="img/city.svg" class="email"></md-icon>
                         <md-tooltip md-direction="bottom">
                                  Ciudad
                          </md-tooltip> 
                          <label>Ciudad</label>
                       <!--  autocompletar de ciudad -->                      
                        <md-autocomplete style="width: 100%"
                            md-selected-item="ciudad.selectedItem"
                            md-search-text="ciudad.searchText.nombreAlterno"
                            md-items="ciudad in  ciudades | filter:ciudad.searchText.nombreAlterno" md-item-text="ciudad.nombreAlterno"                         
                            placeholder="Seleccione ciudad..."                          
                            md-selected-item-change="setCiudad(ciudad.id)"      
                             md-min-length="0"              
                           >
                        <md-item-template>
                          <span
                              md-highlight-text="ciudad.searchText.nombreAlterno"
                              md-highlight-flags="i">
                                {{ciudad.nombreAlterno}}                       
                          </span>
                        </md-item-template>2
                      </md-autocomplete>
                    </md-input-container>                                     
                    <br>
                    <!-- campo de direccion -->
                    <md-input-container class="md-block" flex-gt-sm>
                      <md-icon md-svg-src="img/gps.svg" class="email"></md-icon>
                       <md-tooltip md-direction="bottom">
                              Dirección
                      </md-tooltip>
                      <label>Dirección</label>
                      <input   ng-model="jsonDestinoOrigen.direccion" >
                    </md-input-container>

                    <!-- campo de indicaciones -->
                    <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="img/indicacionesDireccion.svg" class="email"></md-icon>
                       <md-tooltip md-direction="bottom">
                              Indicaciones
                      </md-tooltip>
                      <label>Indicaciones</label>
                      <input   ng-model="jsonDestinoOrigen.indicaciones" >
                    </md-input-container>      
                  </div>
                  <div layout="column" style="width: 50%;">
                       <!-- campo de Nombres -->
                        <md-input-container class="md-block" flex-gt-sm>
                          <md-icon md-svg-src="img/contacto.svg" class="email"></md-icon>
                            <md-tooltip md-direction="bottom">
                              Nombres
                            </md-tooltip>
                          <label>Nombres</label>
                          <input   ng-model="jsonDestinoOrigen.nombres" >
                        </md-input-container>

                          <!-- campo de email -->
                        <md-input-container class="md-block" flex-gt-sm>
                          <md-icon md-svg-src="img/email.svg" class="email"></md-icon>
                          <md-tooltip md-direction="bottom">
                              Email
                          </md-tooltip>
                          <label>Email</label>
                          <input   ng-model="jsonDestinoOrigen.email" >
                        </md-input-container>

                         <!-- campo de  telefono -->
                        <md-input-container class="md-block" flex-gt-sm>
                          <md-icon md-svg-src="img/telefono.svg" class="email"></md-icon>
                          <md-tooltip md-direction="bottom">
                              Telefono
                          </md-tooltip>
                          <label>Telefono</label>
                          <input   ng-model="jsonDestinoOrigen.telefono" >
                        </md-input-container>
                  </div>

              </div>
            </fieldset>
      </md-content>                       
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <h5  ng-show="faltanDatosShip" style="color: red">El campo '{{campoValidacionDestinoShip}}' es requerido.</h5> 
      <span flex></span>
      <md-button ng-click="cerrarModal()">
       Cancelar
      </md-button>
      <md-button ng-click="validarCreacion()" style="margin-right:20px;">
       Agregar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>